.sidebar-button {
    padding: 10px;
    cursor: pointer;
    justify-content: start;
}

.sidebar-button:hover {
    background-color: white;
    color: black;
}

.sidebar-button[data-active="true"] {
    background: rgba(255, 255, 255, 0.3);
    border-left: 4px solid white;
    font-weight: bold;
    color: white;
}

.admin-root {
    min-height: 100vh;
    background: var(--main-gradient);
}

.admin-page {
    display: flex;
    gap: 1rem;
    padding: 5px;
}

.sidebar {
    min-width: 200px;
}

.main-content {
    flex: 1;
    padding: 5px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    height: calc(100vh - 60px);
    margin: 4px;
}
