.printer-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 40px);
    width: 100%;
    padding: 20px;
}

.printer-view h1 {
    margin-bottom: 20px;
}
